body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-sf-pro-text: "SF Pro Text";
  --font-sf-pro-display: "SF Pro Display";

  /* font sizes */
  --font-size-5xl: 24px;

  /* Colors */
  --color-silver: #c8c8c8;
  --color-gray-100: #262626;
  --color-gray-200: #0d1130;
  --color-gainsboro: #d9d9d9;
}
git
