.skills {
  position: absolute;
  top: 50px;
  left: 146px;
  font-family: var(--font-sf-pro-display);
}
.hey-im-taylor1 {
  position: absolute;
  top: 137px;
  left: calc(50% - 236px);
  text-align: center;
  display: inline-block;
  width: 472px;
  height: 174px;
}
.about1,
.contact2,
.download-resume1,
.work1 {
  position: absolute;
  top: 50px;
  left: 263px;
  font-family: var(--font-sf-pro-display);
}
.contact2,
.download-resume1,
.work1 {
  left: 380px;
}
.contact2,
.download-resume1 {
  left: 1079px;
}
.contact2 {
  left: 962px;
}
.portfolio-wireframe-homepage-child,
.portfolio-wireframe-homepage-child1,
.portfolio-wireframe-homepage-inner,
.portfolio-wireframe-homepage-item,
.rectangle-div {
  position: absolute;
  top: 299px;
  left: 146px;
  background-color: var(--color-gainsboro);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 446px;
  height: 396px;
}
.portfolio-wireframe-homepage-child1,
.portfolio-wireframe-homepage-inner,
.portfolio-wireframe-homepage-item,
.rectangle-div {
  top: 1307px;
  left: 148px;
  width: 1143px;
}
.portfolio-wireframe-homepage-child1,
.portfolio-wireframe-homepage-inner,
.rectangle-div {
  top: 1804px;
  width: 795px;
  height: 306px;
}
.portfolio-wireframe-homepage-child1,
.rectangle-div {
  top: 2259px;
  left: 0;
  width: 1440px;
  height: 125px;
}
.portfolio-wireframe-homepage-child1 {
  top: 780px;
  left: 845px;
  width: 446px;
  height: 396px;
}
.travelrecommends {
  position: absolute;
  top: 474px;
  left: 257px;
}
.about-me {
  margin: 0;
  font-family: var(--font-sf-pro-display);
}
.blank-line {
  margin: 0;
}
.about-me-passions-container {
  position: absolute;
  top: 1359px;
  left: calc(50% - 513px);
  display: inline-block;
  width: 1025px;
  height: 290px;
}
.contact3,
.socials1 {
  position: absolute;
  top: 2307px;
  left: 124px;
}
.contact3 {
  left: 278px;
}
.figma {
  margin-bottom: 0;
}
.figma-research-data-analytics {
  margin: 0;
  padding-left: 32px;
}
.my-skills-figma-container {
  position: absolute;
  top: 1863px;
  left: 207px;
  font-size: inherit;
  display: inline-block;
  width: 688px;
  height: 223px;
}
.copyright-20231 {
  position: absolute;
  top: 2307px;
  left: 1201px;
}
.frame-div,
.world-animal-protection {
  position: absolute;
  top: 955px;
  left: 916px;
}
.frame-div {
  top: 318px;
  left: 679px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.travelrecommends-is-a-container1 {
  line-break: anywhere;
  width: 100%;
}
.this-case-study,
.travelrecommends-is-a-container {
  position: absolute;
  top: 319px;
  left: 608px;
  display: flex;
  align-items: center;
  width: 683px;
  height: 363px;
}
.this-case-study {
  top: 806px;
  left: 170px;
  width: 672px;
  height: 354px;
}
.image-7-icon1 {
  position: absolute;
  top: 2px;
  left: 620px;
  width: 200px;
  height: 125px;
  object-fit: cover;
}
.portfolio-wireframe-homepage {
  position: relative;
  background-color: var(--color-silver);
  width: 100%;
  height: 2384px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
  font-family: var(--font-sf-pro-text);
}
